
.friendList {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  padding: 20px;
  width: 300px;

  background-color: #483D8B;
  box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.3);
}